@page "/counter"
@inject SingletonService singleton;
@inject TransientService transient;
@inject IRepository repository;

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>singleton count: @singleton.Value</p>
<p>transient count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="number" @bind="currentCount"/> @* 數據綁定bind *@


<MovieList Movies="movies"></MovieList>

@code {
    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        movies = repository.GetMovies();

    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        singleton.Value = currentCount;
        transient.Value = currentCount;
    }
}
